input[type="submit"], input[type="text"],input[type="tel"],input[type="email"],select,textarea {
	@include css(appearance,none);
	border: 0px;
	border-radius: 0px;
  outline: none;
  @include css(transition, .3s ease);
}

input[type="text"],input[type="tel"],input[type="email"],select,textarea {
	width: 100%;
	padding: 20px 30px;
	border: 1px solid #000;
	margin-bottom: 15px;
	background: #fff;
	resize: none;
	&.wpcf7-not-valid {
    border-color: $col-error;
  }
}

.wpcf7 {
  .wpcf7-not-valid-tip, br, .screen-reader-response {
    display: none;
  }
  p {
    margin: 0;
    &.input-title {
      font-weight: 600;
      margin: 15px 0;
    }
  }

	select::-ms-expand {
		display: none;
	}

	.custom-select {
		display: block;
		position: relative;
		&:after {
			content: '\f107';
			font-family: 'FontAwesome';
			position: absolute;
			top: 50%;
			right: 30px;
		}
	}
}

.wpcf7-checkbox, .wpcf7-radio {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	* {
		cursor: pointer;
	}
}

span.wpcf7-list-item {
  display: inline-block;
  margin-left: 0;
  margin-right: 30px;
  margin-bottom: 10px;
  label {
    display: block;
    height: 35px;
  }
  input[type="checkbox"], input[type="radio"] {
    display: none;

    &:checked + .wpcf7-list-item-label::before {
      background: $col-light-grey;
    }
  }
  .wpcf7-list-item-label{
    display: inline-block;
    &:before {
      content: '';
			display: inline-block;
      width: 15px;
      height: 15px;
      margin-right: 10px;
      vertical-align: middle;
			cursor: pointer;
			border: 1px solid $col-grey;
      @include css(transition, .3s ease);
			.wpcf7-radio & {
				border-radius: 50px;
			}
    }
  }
}


.split-inputs {
	overflow: hidden;
	span {
		display: block;
		width: calc(50% - 10px);
		float: left;
		@include max-width(720px) {
			width: 100%;
			float: none;
		}
		&:last-of-type {
			float: right;
			@include max-width(720px) {
				float: none;
			}
		}
	}
}

@include placeholder() {
	font-weight: 600;
	text-transform: capitalize;
	opacity: 1;
}

.wpcf7-response-output {
	padding: 15px 20px;
	font-weight: 600;
	color: #fff;
	background: $col-warning;
	display: none;
	margin-top: 20px;
	&.wpcf7-validation-errors {
		background: $col-error;
	}
	&.wpcf7-mail-sent-ok {
		background: $col-success;
	}
}

.data-check {
	p.terms {
		display: block;
		font-weight: 400;
		font-size: 14px;
		margin-bottom: 30px;
		padding: 0 10px;
		a {
			text-decoration: underline;
		}
	}
	span.wpcf7-list-item {
		margin: 0;
		overflow: hidden;
    height: auto;
		display: block;
		user-select: none;
		* {
			cursor: pointer;
		}
		label {
			display: block;
			height: auto;
		}
		.wpcf7-list-item-label {
			display: block;
	    position: relative;
	    padding-left: 60px;
			font-size: 14px;
			&:before {
				content: '';
				font-family: 'FontAwesome';
				display: block;
				position: absolute;
				top: 50%;
				left: 15px;
				width: 20px;
				height: 20px;
				line-height: 20px;
				background: #fff;
				border: 1px solid #bebebe;
				text-align: center;
				font-size: 12px;
				border-radius: 0px !important;
				transform: translateY(-50%);
			}
		}
		input[type="checkbox"] {
	    display: none;

	    &:checked + .wpcf7-list-item-label::before {
	      content: '\f00c';
				background: #fff;
	    }
	  }
	}
}


.ajax-loader {
	width: 12px;
	height: 12px;
	margin-left: 15px;
  display: none;
  &.is-active {
    display: inline-block;
  }
}
.ajax-loader:after {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid $col-black;
  border-color: $col-black transparent $col-black transparent;
  animation: dual-ring 1.5s linear infinite;
}
@keyframes dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
