// Auto prefix
@mixin css($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
       #{$prefix}#{$property}: $value;
  }
}

@mixin max-width($maxWidth) {
 @media only screen and (max-width: $maxWidth) {
     @content;
 }
}

@mixin min-width($minWidth) {
 @media only screen and (min-width: $minWidth) {
     @content;
 }
}

@mixin max-height($maxHeight) {
 @media only screen and (max-height: $maxHeight) {
     @content;
 }
}

@mixin min-height($minHeight) {
 @media only screen and (min-height: $minHeight) {
     @content;
 }
}

@mixin placeholder() {
::-webkit-input-placeholder {@content}
:-moz-placeholder           {@content}
::-moz-placeholder          {@content}
:-ms-input-placeholder      {@content}
}