
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');

// Variables
@import 'variables';

// mixins
@import 'mixins';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font Awesome
@import 'node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';

body{
  font-family:'Nunito', sans-serif;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  .nav-item{
    .fas{
      color:#666;
      &.fa-plus-circle{
        color:#00efae;
      }
      &.fa-print{
        color:#64cee8;
      }
      &.fa-trash{
        color:#ff3d3d;
      }
    }
  }
}

.card{
  box-shadow: 2px 2px 10px rgba(224, 224, 224, 0.5);
  border-radius:0;
  .card-header{
    background:#fff;
  }
}

.dataTables_wrapper{
  label{
    margin:0;
  }
  .dataTables_length{
    padding:10px;
  }
  .dataTables_filter{
    padding:10px;
  }
  .dataTables_paginate{
    padding:10px;
  }
}

.table{
  td, th{
    border:0;
  }
  td{
  vertical-align:middle;
  padding: 15px 10px;
  border-bottom: 5px solid #fff;
    &.centered{
      text-align:center;
    }
  }
  &.dataTable{
    thead{
      th{
        border-bottom:0;
      }
    }
    &.no-footer{
      border-bottom:0;
    }
    tr{
      position:relative;
      cursor:pointer;
      box-shadow:none;
      -webkit-font-smoothing: subpixel-antialiased;
      @include css(transition, transform 0.2s ease);
      @include css(transform, translateY(0px) translateZ(0) scale(1.0, 1.0));
      td{
          position: relative;
        &:last-of-type{
          &:after{
            content:'Edit order';
            opacity:0;
            position:absolute;
            right: 10px;
            top: -5px;
            font-size: 11px;
            padding: 5px;
            background: #28b8da;
            font-weight: bold;
            color: #ffffff;
            box-shadow: 0px 1px 10px rgba(128, 128, 128, 0.5);
            border-radius: 5px;
            @include css(transform, translateY(10px));
            @include css(transition, 0.5s ease);
          }
        }
      }
      &.danger{
        td{
          background:red!important;
        }
      }
      &:hover{
        box-shadow: -1px -1px 5px rgba(153, 153, 153, 0.2);
        @include css(transform, translateY(-1px));
        td{
          &:last-of-type{
            &:after{
              @include css(transform, translateY(0px));
              opacity:1;
            }
          }
        }
      }
    }
    thead{
      tr{
        &:hover{
          box-shadow:none;
          @include css(transform, translateY(0px));
        }
      }
    }
  }
}

.table-tertiary, .table-tertiary>td, .table-tertiary>th {
  background-color: $light-purple;
}

.search-container{
  display:inline;
  padding:0.5rem 1rem;
  position:relative;
  top:5px;
  min-width:229px;
  #ordersTable_filter{
    display:inline;
    margin-left:5px;
    label{
      margin-bottom:0;
      input{
        padding: 2px 10px;
        border: 1px solid #e0e0e0;
        position:relative;
      }
    }
  }
}

.navbar-brand{
  img{
    width:200px;
  }
}

.was-validated .form-control:valid,
.form-control.is-valid,
.was-validated
.custom-select:valid,
.custom-select.is-valid {
  border-color: #ced4da;
}

textarea{
    min-height:140px;
}

.card-header.bg-tertiary:not(.bg-danger){
    background-color: $light-purple !important;
}

.card-header.bg-warning:not(.bg-danger){
    color: inherit !important;
}

// div.delete-item-button-container button{
//     display: none;
// }

div.item{
    transition-delay: .17s;
    display: inline-block;
}

.slide-fade-move {
    transition: transform .34s;
}

.slide-fade-enter-active, .slide-fade-leave-active{
    transition: all .34s ease-in-out;
}
.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0;
    transform: translate3d(0,-12px,0);
}

// .fade-enter-active, .fade-leave-active{
//     transition: all .34s ease-in-out;
// }
// .fade-enter, .fade-leave-to {
//     opacity: 0;
//     height:0;
// }

.grand-total{
  text-align:right;
  p{
    font-size:16px;
    margin-bottom:0;
  }
}

@media print {
    .print-header {
        p {
            line-height: 1rem;
        }
    }
    .bg-success {
        background-color: #38c172 !important;
        -webkit-print-color-adjust: exact;
    }
    input, textarea, select{
        -webkit-print-color-adjust: exact;
        border:1px solid #000!important;
        border-radius:0!important;
        background:#fff!important;
        color:#000!important;
    }
    // hide header and footer (works only on Chromium based browsers)
    #header, #footer{
        display:none;
    }
}
