/*!
Theme Name: Clean Build
Theme URI: https://github.com/ConnorBurton/CleanBuild
Description: A blank Wordpress boilerplate theme to make developing Wordpress themes quicker & easier.
Version: 0.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
*/

@import 'scss/mixins';
@import 'scss/vars';
@import 'scss/reset';
@import 'scss/forms';
@import 'scss/vendor/slick';
@import 'scss/vendor/fancybox';

// Custom defaults
* {
  @include css(box-sizing, border-box);
  font-family: sans-serif;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  color: $col-black;
  font-size: 16px;
  line-height: 1.3;
}

.post-edit-link {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 10;
  padding: 15px 25px;
  color: #fff;
  background: $col-grey;
}

.td { display: table-cell; }
.table { display: table; width: 100%; }
.vt { vertical-align: top; }
.vm { vertical-align: middle; }

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 450px;
  max-height: 350px;
  height: auto;
  @include max-width(1150px) {
    max-width: 350px;
    max-height: 250px;
  }
  @include max-width(850px) {
    float: none;
    display: block;
    margin: 20px auto;
    max-width: 450px;
    max-height: 350px;
  }
  @include max-width(560px) {
    max-width: 100%;
  }
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
  max-width: 450px;
  max-height: 350px;
  height: auto;
  clear: right;
  @include max-width(1150px) {
    max-width: 350px;
    max-height: 250px;
  }
  @include max-width(850px) {
    float: none;
    display: block;
    margin: 20px auto;
    max-width: 450px;
    max-height: 350px;
  }
  @include max-width(560px) {
    max-width: 100%;
  }
}

.aligncenter {
  display: block;
  margin: 20px auto;
  max-width: 960px;
  height: auto;
  max-height: 600px;
  @include max-width(1050px) {
    max-width: 100%;
  }
  &.fullwidth {
    max-width: 100%;
  }
}

img {
  width: initial;
  width: auto;
  max-width: 100%;
}

.container {
  max-width: 1450px;
  width: 100%;
  margin: 0 auto;
  @include max-width(1570px) {
    max-width: 100%;
    padding: 0 60px;
  }
  @include max-width(1200px) {
    padding: 0 30px;
  }
  @include max-width(720px) {
    padding: 0 15px;
  }
}

.fa {
  color: inherit;
  font-size: inherit;
}

a {
  @include css(transition, .3s ease);
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

h2 {
  font-size: 30px;
  margin-bottom: 25px;
}

h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

p {
  margin-bottom: 20px;
  a {
    color: $col-blue;
    &:hover {
      color: lighten($col-blue, 5%);
    }
  }
}

ul, ol {
  margin-bottom: 20px;
  .main-content & {
    list-style-type: disc;
    list-style-position: inside;
  }
  li {
    margin-bottom: 5px;
    list-style: inherit;
  }
}

ol {
  .main-content & {
    list-style-type: decimal;
  }
}

b, strong {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

span, i {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}

// header
.header-space {
  height: 90px;
}

.main-header {
  background: $col-light-grey;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.logo {
  a {
    display: block;
    img {
      vertical-align: middle;
      width: 200px;
    }
  }
}

.desk-menu {
  @include max-width(980px) {
    display: none;
  }
  ul {
    width: 100%;
    text-align: right;
    margin: 0;
    li {
      display: inline-block;
      margin: 0;
      margin-left: -6px;
      position: relative;
      a {
        display: block;
        padding: 0 20px;
        color: $col-grey;
        line-height: 90px;
        &:hover {
          color: $col-blue;
        }
      }
      &:hover {
        ul {
          display: block;
        }
      }
      ul {
        display: none;
        position: absolute;
        left: 0;
        width: 300px;
        background: $col-light-grey;
        text-align: left;
        li {
          display: block;
          margin: 0;
          border-bottom: 1px solid rgba(#000, 0.1);
          a {
            line-height: 45px;
          }
        }
      }
    }
  }
}

.mobile-buttons {
  display: none;
  text-align: right;
  @include max-width(980px) {
    display: table-cell;
  }
  a,#mob-toggle {
    display: inline-block;
    cursor: pointer;
    width: 50px;
    line-height: 90px;
    text-align: center;
  }
}

.mobile-menu {
  position: fixed;
  top: 90px;
  bottom: 0;
  right: 0;
  width: 400px;
  padding: 20px 0;
  overflow-y: scroll;
  background: $col-light-grey;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  @include css(transform, translateX(400px));
  @include css(transition, .3s ease);
  @include max-width(600px) {
    width: 100%;
    @include css(transform, translateX(100%));
  }

  &.active {
    @include max-width(980px) {
      opacity: 1;
      visibility: visible;
      @include css(transform, translateX(0));
    }
  }

  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      a {
        padding: 0 25px;
        display: block;
        line-height: 40px;
      }
      ul {
        background: rgba(#000, 0.1);
        position: relative;
        &.active {
          &:before {
            content: '\f068';
          }
        }
        &:before {
          content: '\f067';
          font-family: 'FontAwesome';
          position: absolute;
          right: 0;
          top: -45px;
          width: 45px;
          line-height: 45px;
          text-align: center;
          cursor: pointer;
        }
        li {
          display: none;
        }
      }
    }
  }
}

.darkness {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 9;
  background: rgba(#000, 0.75);
  opacity: 0;
  visibility: hidden;
  @include css(transition, .3s ease);

  &.active {
    @include max-width(980px) {
      opacity: 1;
      visibility: visible;
    }
  }
}

// Banners
.banner {
  position: relative;
  overflow: hidden;
  .slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  .container {
    position: relative;
    z-index: 1;
  }
}

.banner.default {
  padding: 50px 0;
  h1 {
    margin: 0;
  }
}


// Content
.main-content {
  padding: 60px 0;
}


// Map
a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
    display: none !important;
}
.gmnoprint:not(.gm-bundled-control) {
    display: none;
}
.gm-bundled-control .gmnoprint {
    display: block;
}

// Footer

.footer {
  background: $col-light-grey;
  li,p,h3,span {
    color: $col-grey;
  }
  a {
    color: $col-grey;
    &:hover{
      color: $col-blue;
    }
  }
  h3 {
    margin-bottom: 10px;
  }

  .top-footer {
    padding: 30px 0;
    .links {
      .menu-col {
        margin-right: 60px;
        display: inline-block;
      }
    }
    .address {
      text-align: right;
      li {
        &.space {
          height: 20px;
        }
        &.social {
          a {
            font-size: 18px;
            margin-left: 15px;
          }
        }
      }
    }
  }

  .bottom-footer {
    text-align: center;
    padding-bottom: 30px;
    overflow: hidden;
    p {
      margin: 0;
      display: inline-block;
      float: left;
      span {
        margin: 0 10px;
      }
    }
    img {
      vertical-align: middle;
    }
  }
}

// Seasonal Opening Hours
.seasonal-opening-hours {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  padding: 15px 0;
  background: $col-black;
  p {
    margin: 0;
    font-size: 16px;
    display: inline-block;
    color: #fff;
    line-height: 1;
    margin-right: 15px;
  }
}

// Cookie Policy
#cookiePolicy {
  transition: .3s ease;
  &.hide {
    opacity: 0;
    visibility: hidden;
  }
  #closeCookie {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 18px;
    line-height: 40px;
    width: 40px;
    text-align: center;
    transform: translateY(-50%);
    background: #dcdcdc;
    cursor: pointer;
    transition: .3s ease;
    &:hover {
      background: #c9c5c5;
    }
  }
  .cookie-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background: #eee;
    padding: 20px 70px 20px 30px;
    p {
      margin: 0;
    }
  }
}

#cookieTableContainer {
  overflow-x: scroll;
}

#cookieTable {
  border-collapse: collapse;
  margin: 10px 0 30px;
  td,th {
    border: 1px solid #d5d2d2;
    padding: 15px;
    text-align: center;
    vertical-align: middle;
  }
  tr {
    td,th {
      &:nth-of-type(1) {
        min-width: 125px;
      }
      &:nth-of-type(2) {
        min-width: 200px;
      }
      &:nth-of-type(3) {
        min-width: 80px;
      }
      &:nth-of-type(4) {
        min-width: 300px;
      }
    }
  }
}
